<h1 class="text-center">Stylists</h1>

<div class="container-fluid">
<li class="list-group-item">
    <img class="center-block img-responsive" style="max-height:300px" src="https://media.giphy.com/media/3orieYy0PsC9MhL0Oc/giphy.gif
"></li>
</div>

<h3 style="text-align: center">Here are all the Stylists we have:</h3>

  <% if @stylists.any? %>

    <ol style="text-aline: center">
        <% @stylists.each do |stylist| %>
            <div class="row text-center">
                <li>
                    <%= stylist.name %>
                </li>

                  <% if @stylist.client.any? %>
                    <ul>
                    <% @stylist.client do |client| %>
                      <li><%client.name%></li>
                    <%end%>
                    </ul>
                  <% else %>
                    <p> There are no clients for this stylist.</p>
                  <% end %>

                <form style="display: inline-block" action="/del_stylist/<%= stylist.id %>">
                    <button class="btn btn-danger btn-cons center-block">
                        delete
                    </button>
                </form>
            </div>
        <% end %>
    <ol>
  <%else%>
    <p>There are no Stylists yet!</p>
  <%end%>


    <form action="/add_stylist">
        <button class="btn btn-info col-sm-4">
            Add New Stylist
        </button>
    </form>

    <form action="/">
        <button class="btn btn-primary col-sm-4">
            Return to Main Page
        </button>
    </form>
